<div class="container">
  <div class="row">
    <div class="col-md-2" id="sidenav">
      <form>
        <label>Seleccionar gráfico</label>
        <mat-form-field>
          <mat-select placeholder="Gráfico" [(ngModel)]="selectedValue" name="graficos">
            <mat-option *ngFor="let grafico of graficos" [value]="grafico.viewValue">
              {{ grafico.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div id="accordion" class="panel-group">

    	<div class="col-md-10">
        <h2>Estadísticas Conaset - Nacional</h2>
        <mat-card *ngIf="selectedValue == 'Regional'">
					<mat-card-content>
						<canvas *ngIf="isDataAvailableReg" 
						baseChart [datasets]="barChartDataReg" 
						[labels]="barChartLabelsReg" 
						[options]="barChartOptions"
						[legend]="barChartLegend" 
						[chartType]="barChartType" >
						</canvas>
						
						<div *ngIf="!isDataAvailableReg">
						
							<h2 class="example-h2">Cargando...</h2>
						
							<mat-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
							</mat-spinner>
						</div>
						</mat-card-content>
				</mat-card>

				<mat-card *ngIf="selectedValue == 'Anual'">
					<mat-card-content>
						<canvas *ngIf="isDataAvailableAnual" 
							baseChart [datasets]="barChartDataAnual" 
							[labels]="barChartLabelsAnual" 
							[options]="barChartOptions"
							[legend]="barChartLegend" 
							[chartType]="barChartType" >
						</canvas>
						
						<div *ngIf="!isDataAvailableAnual">
						
							<h2 class="example-h2">Cargando...</h2>

							<mat-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
							</mat-spinner>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
		</div>            
  </div>        
</div>