
<div class="container">
	<div class="row">
		<div class="col-md-3">
				<div class="form-group">

					<form>
						<!--Input-->
						<label for="">Buscar sector</label>
						<input id="autocomplete" placeholder="Ingresa una dirección" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" style="width: 100%">
						<br> <br>
						<label>seleccionar fecha</label>
						<mat-form-field>
							
							
						<mat-select placeholder="Año">
							<mat-option *ngFor="let year of years" [value]="year.value">{{ year.viewValue }}</mat-option>
						</mat-select>


					  </mat-form-field>
					</form>
				</div>
			</div>
		<div class="col-md-9">
				<h2>Mapa histórico</h2>
				<agm-map 
					[latitude]="lat" 
					[longitude]="lng" 
					[zoom]="zoom" 
					[minZoom]="11"
					[streetViewControl]="false">
					<agm-circle
						
						*ngFor="let acc2 of accidentes; let i = index"
						[latitude]="acc2.latitud"
						[longitude]="acc2.longitud"
						[fillColor]="'#FF0000'"
						[radius]="acc2.cantidad*20"
						(circleClick)="infoWindow">
						<agm-info-window #infoWindow>
							<strong>{{acc2.cantidad}}</strong>
						</agm-info-window>
					</agm-circle>			  
			</agm-map>
		</div>
	</div>
</div>
