
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">

				<form>
					<!--Input-->
					<label for="">Buscar sector</label>
					<input id="autocomplete" placeholder="Ingresa una dirección" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" style="width: 100%">
					<br> <br>
					
				</form>


			</div>
		</div>
		<div class="col-md-9">
			<h2>Mapa histórico</h2>
			<mat-card>
				<mat-card-content>
					<agm-map 
						*ngIf="isDataAviable"
						[latitude]="lat" 
						[longitude]="lng" 
						[zoom]="zoom" 
						[minZoom]="11"
						[streetViewControl]="false">
			
						<agm-marker-cluster [imagePath]="'assets/marker/m'" [averageCenter]="true">

							<agm-marker *ngFor="let acc of accidentes;" 
								[latitude]="acc.latitud" 
								[longitude]="acc.longitud" 
								[iconUrl]="'assets/marker/pin.png'"

								(markerClick)="infoWindow">
								<agm-info-window #infoWindow>
										<strong>{{acc.calle}}<br/>
												{{acc.dia}}-{{acc.mes}}-{{acc.ano}}</strong>
								</agm-info-window>
							</agm-marker>
							
						</agm-marker-cluster>
									
					</agm-map>
					<div *ngIf="!isDataAviable">
					
						<h2 class="example-h2">Cargando...</h2>
					
						<mat-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
						</mat-spinner>
					</div>

				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
