<div class="container">
  <div class="row">
    <div class="col-md-3" id="sidenav">
      <button class="btn btn-success btn-block" (click)="descargaDatos()">Descarga datos de Twitter</button>
      <hr>
      <div class="form-group">

        <form>
          <label>Seleccionar gráfico</label><br>
          <mat-form-field>
            <mat-select placeholder="Gráfico" [(ngModel)]="selectedValue" name="graficos">

              <mat-option *ngFor="let grafico of graficos" [value]="grafico.value">
                {{ grafico.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
    
    <div class="col-md-9">
      <h2>Estadísticas - Twitter - Región Metropolitana</h2> 


<!--Gráfico anual-->

      <mat-card *ngIf="selectedValue == 'Anual'">
        <mat-card-content>
          <canvas  
           *ngIf="isDataAvailableAnual"
            baseChart
            [datasets]="barChartDataAnual"
            [labels]="barChartLabelsAnual"
            [options]="barChartOptionsAnual"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="Colors">
          </canvas>

          <div *ngIf="!isDataAvailableAnual">
      
            <h2 class="example-h2">Cargando...</h2>
      
            <mat-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
            </mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>
      
      <mat-card *ngIf="selectedValue == 'Mensual'">
        <mat-card-content>
          <canvas  
            *ngIf="isDataAvailableMensual"
            baseChart
            [datasets]="barChartDataMensual"
            [labels]="barChartLabelsMensual"
            [options]="barChartOptionsMensual"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
      
      
          <div
          *ngIf="!isDataAvailableMensual">
          
            <h2 class="example-h2">Cargando...</h2>
        
            <mat-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
            </mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>
      
      <mat-card *ngIf="selectedValue == 'Comuna'">
        <mat-card-content>
          <div *ngIf="isDataAvailableAnual">
            <canvas  
           
              baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType">
            </canvas>

            <table>
              <tr>
                <th>Accidentes Totales.</th><th></th>
              </tr>
            
              
                <tr *ngFor="let acc of accidentesComuna; let i = index">
                  <td *ngIf= "acc.cantidad == 1">
                    {{i+1}}.- {{acc.comuna}}</td> 
                  <td *ngIf= "acc.cantidad == 1">
                    <b>{{acc.cantidad}}</b> accidente</td>
                  
                  <td *ngIf= "acc.cantidad > 1">
                    {{i+1}}.- {{acc.comuna}} </td> 
                  <td *ngIf= "acc.cantidad > 1"> 
                    <b>{{acc.cantidad}}</b> accidentes</td>
                </tr>
              
            </table>
          </div>
          <div *ngIf="!isDataAvailableAnual">
      
            <h2 class="example-h2">Cargando...</h2>
      
            <mat-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
            </mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>  
</div>