<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="autocomplete">Buscar sector</label>
                <input id="autocomplete" placeholder="Ingresa una dirección" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
                <br> <br>
    
                 </div>
            </div>
        <div class="col-md-9">
            <h2>Mapa en tiempo real</h2>
            <mat-card>
                <mat-card-content>
                    <agm-map 
                        [latitude]="lat" 
                        [longitude]="lng" 
                        [zoom]="zoom" 
                        [minZoom]="11"
                        [streetViewControl]="false">
                        <agm-marker 
                            *ngFor="let acc of accidentes; let i = index"
                            [latitude]="acc.latitud"
                            [longitude]="acc.longitud"
                            [iconUrl]="'assets/traficon.png'"
                            (markerClick)="infoWindow">
                            <agm-info-window #infoWindow>
                                <strong>{{acc.calle}}<br/>
                                        {{acc.hora}}</strong>
                            </agm-info-window>
                        </agm-marker>
                    </agm-map>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>