<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                            
    
    
                <label for="autocomplete">Buscar sector</label>
                <input id="autocomplete" placeholder="Ingresa una dirección" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
                <br> <br>
    
                <label for="">Buscar fecha</label>
    
                 </div>
            </div>
        <div class="col-md-9">
            <h2>Mapa en tiempo real</h2>
                <agm-map 
                    [latitude]="lat" 
                    [longitude]="lng" 
                    [zoom]="zoom" 
                    [minZoom]="11"
                    [streetViewControl]="false">
                    <agm-marker [latitude]="position.lat" [longitude]="position.lng" 
                        *ngFor="let position of markers.position">
                </agm-marker>			  
            </agm-map>
        </div>
    </div>
</div>