h1,h2,h5{
    font-family: 'Spectral SC', serif;
}
h1{
    font-size: 4em;
    margin-bottom: 1em; 
}

.hrup{
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
    
}
.hrup:after{
     content: "\00a0";
}

.container{
    text-align: center; 
    
}